.products-sale .main-container .showall{
    cursor: pointer
}
.productinfo{
    background-color: var(--backgray);
    height: auto;
    text-align: center;
    padding-top: 10px
}
.productinfo .tableinfo{
    margin: auto
}
.productinfo .tableinfo td,.productinfo .tableinfo th{
    border: 2px solid #dadada;
    width: 260px;
    padding: 10px
}
form.Question{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px
    
}
form.Question input[type="text"]{
    width: 500px;
    margin: auto;
    height: 30px
}
form.Question button.add{
    width: 90px;
    color: white;
    background-color: var(--fairouzi-color);
    border: 2px solid var(--fairouzi-color);
    padding: 5px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    transform: translateX(150%)
}
.options .rating > img:hover{
    cursor: pointer
}
.Question span{
    background-color: #dadada;
    width: 250px;
    height: 2px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 15px
}
.Question textarea{
    width: 500px;
    height: 200px;
    margin: auto
}

.Question label{
    font-size: 20px
}
.Question label img{
    margin-right: 5px;
    width: 27px;
    height: 27px
}
.productsingle{
    background-color: var(--backgray);
    display: flex;
    min-height: 600px;
    padding-bottom: 40px
}
.flexslider .slides img{
	height: 100%;
	width: 100%
}
.productsingle .sold{
    width: 30%;
    height: 270px;
    margin: auto;
    background-color: white;
    padding: 10px;
    margin-top: 100px

}
.productsingle .soldinfo{
      display: flex;
    
}
.flex-control-thumbs li{
	width: 32%
}
.productsingle .soldinfo .inffo{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 10px;
    margin-top: 25px;
	width: 100%
}
.productsingle .soldinfo .inffo p{
    font-size: 28px;
    color: var(--orange-color);
    margin-bottom: 0px
}

.productsingle .soldinfo .inffo span{
    font-size: 14px
}
.productsingle .sold .soldinfo img{
    width: 200px;
    height: 200px
}
.productsingle .sold .soldinfo input[type="button"]{
       width: 80%;
    color: white;
    background-color: var(--fairouzi-color);
    border: 2px solid var(--fairouzi-color);
    padding: 5px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 10px;
}
.productsingle .productpic{
    
    margin-top: 20px;
    margin-left: 20px;
    box-sizing: border-box;
    min-height: 450px;
    display: flex;
    width: 65%;
    background-color: white;
	padding-top: 10px
}
.productsingle .productpic .single{
    width: 50%
}

.productsingle .productpic .options{
    display: flex;
    flex-direction: column;
    width: 50%
}
.productsingle .productpic .options .description{
    margin-bottom: 5px;
    color: var(--stronggray-color)
}
.productsingle .productpic .options .price{
    font-size: 22px;
    color: var(--fairouzi-color);
    margin-top: 5px
}
.productsingle .productpic .options .old-price{
    font-size: 16px;
    color:red
}
.productsingle .productpic .options .colorpic{
    display: flex;
    flex-direction: row;
	margin-left: 50px;
	flex-wrap: wrap
}
.productsingle .productpic .options .colorfamily{
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 5px
}
.productsingle .productpic .options .colorpic img{
    width:50px;
    height: 50px;
    margin-right: 5px;
    cursor: pointer
}
.new{

	color: white
}
.productsingle .productpic .options .sizeoption,.productsingle .productpic .options .quantityoption{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
	flex-wrap: wrap
}
.productsingle .productpic .options .quantityoption{
    margin-top:8px
}
.productsingle .productpic .options .quantityoption .quantityval{
    margin-left: 10px
}
.productsingle .productpic .options .sizeoption .size,.productsingle .productpic .options .quantityoption .quantity{
    font-size: 22px;
}
.productsingle .productpic .options .quantityoption .quantity{
    margin-bottom: 5px
}
.productsingle .productpic .options .sizeoption button,.productsingle .productpic .options .quantityoption button{
    min-width: 30px;
    height: 30px;
    color: black;
    background-color: white;
    margin-left: 10px;
    border: 2px solid #dadada
}
.productsingle .productpic .options .button{
    display: flex;
    flex-direction: row
}
.productsingle .productpic .options .button .addtocart,.productsingle .productpic .options  .button .buynow{
           width: 130px;
    color: white;
    background-color: var(--fairouzi-color);
    border: 2px solid var(--fairouzi-color);
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 15px;
}
.productsingle .productpic .options  .button .buynow{
    background-color: var(--orange-color);
    border:2px solid var(--orange-color)
}
.thumb-image{
	max-width: 390px;
	height: 390px
}
.thumb-image img{
	min-height:100%;
	min-width: 100%
}
.container{
	padding-right: 15px
}
.single-right,.single-right-left{
	padding-right: 0px
}
h3.sec,h3.sec2{
	padding: 5px
}
h3.sec img,h3.sec2 img{
	margin-right: 5px;
	width: 22px;
	height: 22px;
	vertical-align: inherit
}
.colorpic button{
	width: 35px;
	height: 35px;
	margin-right: 10px;
	
		
}
.colorpic button.radio{
border-radius: 20px
}
.sizeoption button input[type="radio"]{
	height: 10px;
	width: 10px;
}
.productsingle .productpic .options .sizeoption button.s{
	 color: white;
    background-color: var(--fairouzi-color);
    border: 2px solid var(--fairouzi-color);
}

@media only screen and (max-width: 347px){
	.productsingle {
		flex-direction: column;
		padding-bottom: 20px
	}
	.productsingle .productpic{
		width: 95%;
		margin-top: 10px;
		margin-left: 5px
	}
	.productsingle .productpic .options{
		padding-top: 10px
	}
	.productsingle .productpic .options .rating img{
		height: 16px;
		width: 16px
	}
	.productsingle .productpic .single .single-right,.single-right-left{
		padding-left: 0px
	}
	.productsingle .productpic .single .container{
		padding: 5px
	}
	.thumb-image{
		height: 220px
	}
	.flex-control-thumbs li{
		width: 100px;
		margin-left: 20px;
		height: 100px
	}
	.productsingle .sold{
		width: 95%;
		margin-top: 20px;
		height: 200px
	}
	.productsingle .sold h4{
		font-size: 1.1rem
	}
	.productsingle .sold .soldinfo img {
		width:110px;
		height:110px
	}
	.productsingle .sold .soldinfo input[type="button"]{
		width: 100px;
		font-size: 14px;
		margin-top: 9px;
	}
	.productsingle .soldinfo .inffo{
		margin-top: 10px
	}
	.productsingle .soldinfo .inffo p{
		font-size: 18px
	}
	.productsingle .productpic .options .productname,.productsingle .productpic .options .price,.productsingle .productpic .options .colorfamily,.productsingle .productpic .options .sizeoption .size,.productsingle .productpic .options .sizeoption .size,.productsingle .productpic .options .quantityoption .quantity{
		font-size: 16px
	}
	.productsingle .productpic .options .description,.productsingle .productpic .options .old-price del,.productsingle .productpic .options .rating span,.productinfo .tableinfo td,.productinfo .tableinfo th,.productsingle .productpic .options .quantityoption .quantityval{
		font-size: 14px
	}
	.productsingle .productpic .options .sizeoption button,.productsingle .productpic .options .quantityoption button{
		min-width: 20px;
		height: 20px;
		font-size: 10px;
		text-align: center;
		
	}
	.productsingle .productpic .options .sizeoption button{
		padding-left: 3px
	}
	.productsingle .productpic .options .colorpic{
		margin-left: 5px;
	}
	.productsingle .productpic .options .colorpic button{
		height: 20px;
		width: 20px
	}
	h3.sec2,h3.sec{
		font-size: 1.1em
	}
	h3.sec2 img,h3.sec img{
		width: 18px;
		height: 18px
	}
	.productsingle .productpic .options .button .addtocart, .productsingle .productpic .options .button .buynow{
		font-size: 14px
	}
	.products-sale .main-container .showall{
		font-size: 14px
	}
	form.Question input[type="text"]{
		width: 220px
	}
	.Question label{
		font-size: 13px
	}
	.Question label img{
		width: 16px;
		height: 16px
	}
	.Question textarea{
		    width: 220px;
    height: 150px;
	}
	form.Question button.add{
		font-size: 12px;
		width: 40px;
		height: 23px;
		padding: 0px
	}
}
@media (min-width: 348px) and (max-width: 610px){
		.productsingle {
		flex-direction: column;
		padding-bottom: 20px
	}
	.productsingle .productpic{
		width: 95%;
		margin-top: 10px;
		margin-left: 5px
	}
	.productsingle .productpic .options{
		padding-top: 10px
	}
	.productsingle .productpic .options .rating img{
		height: 17px;
		width: 17px
	}
	.productsingle .productpic .single .single-right,.single-right-left{
		padding-left: 0px
	}
	.productsingle .productpic .single .container{
		padding: 5px
	}
	.thumb-image{
		height: 230px
	}
	.flex-control-thumbs li{
		width: 120px;
		margin-left: 22%;
		height: 120px
	}
	flex-direction-nav li{
		text-align: center
	}
	.productsingle .sold{
		width: 95%;
		margin-top: 20px;
		height: 210px
	}
	.productsingle .sold h4{
		font-size: 1.2rem
	}
	.productsingle .sold .soldinfo img {
		width:130px;
		height:130px
	}
	.productsingle .sold .soldinfo input[type="button"]{
		width: 120px;
		font-size: 15px;
		margin-top: 9px;
	}
	.productsingle .soldinfo .inffo{
		margin-top: 10px
	}
	.productsingle .soldinfo .inffo p{
		font-size: 19px
	}
	.productsingle .productpic .options .productname,.productsingle .productpic .options .price,.productsingle .productpic .options .colorfamily,.productsingle .productpic .options .sizeoption .size,.productsingle .productpic .options .sizeoption .size,.productsingle .productpic .options .quantityoption .quantity{
		font-size: 17px
	}
	.productsingle .productpic .options .description,.productsingle .productpic .options .old-price del,.productsingle .productpic .options .rating span,.productinfo .tableinfo td,.productinfo .tableinfo th,.productsingle .productpic .options .quantityoption .quantityval{
		font-size: 15px
	}
	.productsingle .productpic .options .sizeoption button,.productsingle .productpic .options .quantityoption button{
		min-width: 23px;
		height: 23px;
		font-size: 12px;
		text-align: center;
		
	}
	.productsingle .productpic .options .sizeoption button{
		padding-left: 3px;
		margin-left: 6px
	}
	.productsingle .productpic .options .colorpic{
		margin-left: 5px;
	}
	.productsingle .productpic .options .colorpic button{
		height: 23px;
		width: 23px
	}
	h3.sec2,h3.sec{
		font-size: 1.3em
	}
	h3.sec2 img,h3.sec img{
		width: 20px;
		height: 20px
	}
	.productsingle .productpic .options .button .addtocart, .productsingle .productpic .options .button .buynow{
		font-size: 15px
	}
	.products-sale .main-container .showall{
		font-size: 15px
	}
	form.Question input[type="text"]{
		width: 240px
	}
	.Question label{
		font-size: 15px
	}
	.Question label img{
		width: 18px;
		height: 18px
	}
	.Question textarea{
		    width: 240px;
    height: 175px;
	}
		form.Question button.add{
		font-size: 14px;
		width: 50px;
		height: 28px;
		padding: 0px
	}
}
@media (min-width: 611px) and (max-width: 768px){
	.productsingle .productpic{
		margin-left: 5px;
		margin-top: 10px
	}
	.productsingle {
		padding-bottom: 20px
	}
	.productsingle .productpic{
		width: 70%;
		margin-top: 10px;
		margin-left: 5px;
		margin-right: 5px
	}
	.productsingle .productpic .options{
		padding-top: 10px
	}
		.thumb-image{
		height: 250px;
			
	}
	.flex-control-thumbs li{
		width: 75px;
		
		height: 75px
	}
	.productsingle .productpic .options .rating img{
		height: 19px;
		width: 19px
	}
	.productsingle .productpic .single .single-right,.single-right-left{
		padding-left: 0px
	}
	.productsingle .productpic .single .container{
		padding: 5px
	}

	flex-direction-nav li{
		text-align: center
	}
.productsingle .sold{
		width: 25%;
		margin-top: 10px;
		height: 320px
	}
	.productsingle .soldinfo {
		flex-direction: column
	}
	.productsingle .sold h4{
		font-size: 1.3rem
	}
	.productsingle .sold .soldinfo img {
		width:135px;
		height:135px;
		margin-left: 10px
	}
	.productsingle .sold .soldinfo input[type="button"]{
		width: 70%;
		font-size: 16px;
		margin-top: 9px;
	}
	.productsingle .soldinfo .inffo{
		margin-top: 10px
	}
	.productsingle .soldinfo .inffo p{
		font-size: 21px
	}	
		.productsingle .productpic .options .productname,.productsingle .productpic .options .price,.productsingle .productpic .options .colorfamily,.productsingle .productpic .options .sizeoption .size,.productsingle .productpic .options .sizeoption .size,.productsingle .productpic .options .quantityoption .quantity{
		font-size: 19px
	}
	.productsingle .productpic .options .description,.productsingle .productpic .options .old-price del,.productsingle .productpic .options .rating span,.productinfo .tableinfo td,.productinfo .tableinfo th,.productsingle .productpic .options .quantityoption .quantityval{
		font-size: 16px
	}
	.productsingle .productpic .options .sizeoption button,.productsingle .productpic .options .quantityoption button{
		min-width: 26px;
		height: 26px;
		font-size: 12px;
		text-align: center;
		
	}
	.productsingle .productpic .options .sizeoption button{
		padding-left: 3px;
		margin-left: 6px
	}
	.productsingle .productpic .options .colorpic{
		margin-left: 5px;
	}
	.productsingle .productpic .options .colorpic button{
		height: 26px;
		width: 26px
	}
		h3.sec2,h3.sec{
		font-size: 20px
	}
	h3.sec2 img,h3.sec img{
		width: 20px;
		height: 20px
	}
	form.Question input[type="text"]{
		width: 270px
	}
	.Question label{
		font-size: 17px
	}
	.Question label img{
		width: 22px;
		height: 22px
	}
	.Question textarea{
		    width: 270px;
    height: 200px;
	}
		form.Question button.add{
		font-size: 16px;
		width: 60px;
		height: 30px;
		padding: 0px
	}
}
@media (min-width: 769px) and (max-width: 991.98px){

	.productsingle {
		padding-bottom: 20px
	}
	.productsingle .productpic{
		width: 70%;
	
			min-height: 450px
	}
	.productsingle .productpic .options{
		padding-top: 10px
	}
		.thumb-image{
		height: 270px;
		
	}
	.flex-control-thumbs li{
		width: 30%;
		height:75.96px
	}
	.productsingle .productpic .options .rating img{
		height: 21px;
		width: 21px
	}

.productsingle .sold{
		width: 25%;
		margin-top: 10px;
		height: 320px
	}
	.productsingle .soldinfo {
		flex-direction: column
	}
	.productsingle .sold h4{
		font-size: 20px
	}
	.productsingle .sold .soldinfo img {
		width:160px;
		height:160px;
		margin-left: 20px
	}
	.productsingle .sold .soldinfo input[type="button"]{
		width: 130px;
		
		margin-top: 9px;
	}
	.productsingle .soldinfo .inffo{
		margin-top: 10px
	}
	.productsingle .soldinfo .inffo p{
		font-size: 23px
	}	
		.productsingle .productpic .options .productname,.productsingle .productpic .options .price,.productsingle .productpic .options .colorfamily,.productsingle .productpic .options .sizeoption .size,.productsingle .productpic .options .sizeoption .size,.productsingle .productpic .options .quantityoption .quantity{
		font-size: 20px
	}
	.productsingle .productpic .options .description,.productsingle .productpic .options .old-price del,.productsingle .productpic .options .rating span,.productinfo .tableinfo td,.productinfo .tableinfo th,.productsingle .productpic .options .quantityoption .quantityval{
		font-size: 18px
	}
	.productsingle .productpic .options .sizeoption button,.productsingle .productpic .options .quantityoption button{
		min-width: 30px;
		height: 30px;
		font-size: 18px;
		text-align: center;
		
	}
	.productsingle .productpic .options .sizeoption button{
		padding-left: 3px;
		margin-left: 6px
	}
	.productsingle .productpic .options .colorpic{
		margin-left: 5px;
	}
	.productsingle .productpic .options .colorpic button{
		height: 30px;
		width: 30px
	}
		h3.sec2,h3.sec{
		font-size: 22px
	}
	h3.sec2 img,h3.sec img{
		width: 25px;
		height: 25px
	}
	form.Question input[type="text"]{
		width: 300px
	}
	.Question label{
		font-size: 19px
	}
	.Question label img{
		width: 22px;
		height: 22px
	}
	.Question textarea{
		    width: 290px;
    height: 230px;
	}
		form.Question button.add{
		font-size: 16px;
		width: 70px;
		height: 33px;
		padding: 0px
	}

}
@media (min-width: 992px) and (max-width: 1199.98px){
	.productsingle .sold .soldinfo img{
		width: 170px;
		height: 170px
	}
}
