.comments{
    min-height: 400px
}
.comments h3{
padding: 10px;
    font-size: 35px;
    margin: auto;
    width: 1200px
}
.rating1{
    background: #F7F7F9;
    height: 110px;
    padding: 20px;
    width: 1200px;
    margin: auto
}
.comments .rating1 h4{
    font-size: 25px
}
div.comment1{
    border-bottom:1px dashed #e5e5e5;
    padding: 20px;
    min-height: 120px;
    padding-bottom: 8px

}
.like{
    position: relative;
}
.like img{
    text-align: center;
    width: 10%;
    height: 10%;
    vertical-align: middle;
    cursor: pointer
}
.like p{
margin-top: 40px;
    font-size: 12px;
    color: #a59696
}
.like span{
    font-size: 12px
}
.rating-left img{
    margin-top: 10px;
    cursor: pointer;
    width: 18px;
    height: 18px
}
.size{
       margin-bottom: 20px;
    margin-top: 20px;
    min-height: 77px
}
.size div{
    border-radius: 50%;
    width: 50px;
    border: 1px solid #e5e5e5;
    display: inline-block;
  text-align: center;
    cursor: pointer;
    margin-right: 10px;
    outline: none;
-webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
 position: static
        
}
.size div:hover{
    border:2px solid black;
    outline: none;

}
.size div:hover .size{
    border:1px solid transparent
}
.size h5{
    font-size: 16px;
    margin-bottom: 16px
}
.size div span{
   font-size: 14px
}
.navnumber{
 
    width: 200px;
margin-left: 70%
}
.addcomment {
    margin-top: 20px;
    width: 500px;
    height: 100px;
margin-left: 80px

}
.addcomment::-webkit-scrollbar {
   display: none;
 }
.addcomment img{
    width: 10%;
    height: 10%
}
.newcomment input[type='file']{
    margin-left: 300px
}
.newcomment{
    display: none
}
.button.add{
    margin-left: 95px;
    margin-top: 20px;
    background-color: #d8703f;
    height: 35px;
    border: 2px solid #d8703f;
    border-radius: 4px;
    outline: none
}